/*
    This file is for CSS shared between the following stylesheets:
    welcomeTile.css
    aboutMeTile.css
*/

html {
    scroll-behavior: smooth;
}

.background {
    position: absolute;
    height: auto;
    width: 100%;
    background: #EEEEEE;
}

.border-left {
    /* position: relative needs to be here for z-index to work. */
    position: absolute;
    z-index: 3;
    width: 20%;
    background: #D1A378;
    bottom: 0;
    top: 0;
    left: 0;
}

.border-right {
    position: absolute;
    z-index: 3;
    width: 20%;
    background: #D1A378;
    top: 0;
    bottom: 0;
    right: 0;
}

.dropDownWrapper {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    left: -27.24vw;
    align-items: center;
}

.dropButton {

    display: flex;
    justify-content: center;

    margin-top: -0.8vw;
    background-image: url("../images/Dropdown Box.svg");
    background-size: 5vw 3vw;
    background-repeat: no-repeat;
    width: 5vw;
    height: 3vw;
    background-color: transparent;
    border: none;
}


.dropArrow {
    position: absolute;
    top: -10%;
    width: 2.5vw;
    height: 2.5vw;
    z-index: 1;
    pointer-events: none;
}

/*
@media screen and (max-width: 1200px) {
    .border-left {
        visibility: collapse;
    }
    .border-right {
        visibility: collapse;
    }
}*/
