
.worksTile {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #69A3AB;
    position: relative;
    width: 50%;
    margin: auto;
    padding-top: 50%;
    border-radius: 0 0 5% 5%;
    box-shadow: 0 0 1.5vw 0.7vw #E1D7CE;

}